<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540159962883-shnqn84n0art8la2ohj0ebfvvp0amlg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540159962883-shnqn84n0art8la2ohj0ebfvvp0amlg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBAM-7Wh4uzwRm3KHZ6qDhsYO6n8wA7Kk8</string>
	<key>GCM_SENDER_ID</key>
	<string>540159962883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelBookingApplication</string>
	<key>PROJECT_ID</key>
	<string>hostel-booking-applicati-bc7f9</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-booking-applicati-bc7f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540159962883:ios:0526cef65c586259c98336</string>
</dict>
</plist>